body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: linear-gradient(135deg, #f4f4f4 0%, #e0e0e0 100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2 {
  text-align: center;
}

h2 {
  color: #4CAF50;
  margin-bottom: 20px;
}

.header {
  background: #4CAF50;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header .nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.header .nav a:hover {
  color: #FFC107;
}

.productos .grid, .Exclusivo .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.producto, .blog-post {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.producto:hover, .blog-post:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.producto img, .blog-post img {
  max-width: 100%;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.producto .btn-detalles, .blog-post .btn-detalles {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.producto .btn-detalles {
  background: #4CAF50;
}

.producto .btn-detalles:hover {
  background: #45a049;
}

.blog-post .btn-detalles {
  background: #5d5c5a;
}

.blog-post .btn-detalles:hover {
  background: #FF9800;
}

.footer {
  background: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  font-size: 0.9rem;
  margin: 0;
}

.producto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.producto:nth-child(1)::before {
  background-image: url("/trabajo_LenguajeMarcas/Flexbox-DAMB/img/productos/barcelona-hover.jpg");
}

.producto:nth-child(2)::before {
  background-image: url("/trabajo_LenguajeMarcas/Flexbox-DAMB/img/productos/brasil-hover.jpg");
}

.producto:nth-child(3)::before {
  background-image: url("/trabajo_LenguajeMarcas/Flexbox-DAMB/img/productos/arsenal-hover.jpg");
}

.producto:nth-child(4)::before {
  background-image: url("/trabajo_LenguajeMarcas/Flexbox-DAMB/img/productos/Camiseta-Málaga-Cf-Primera-Equipación-24-25.jpg");
}

.producto:hover img {
  opacity: 0;
}

.producto:hover::before {
  opacity: 1;
}

.producto .producto-link {
  display: block;
}

.producto .producto-link img {
  cursor: pointer;
}
